* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  max-width: 1200px;
  margin: auto;
}

.navbar-container{
  max-width: 1200px;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.logo{
    margin-top: 1.8rem;
    max-width: 150px;
    height: 35px;
}

.navbar-menu{
  display: flex;
  justify-content: center;
  padding-top: 35px;
  list-style: none;
  gap: 2rem;
  font-weight: 900;
  font-size: 1.1rem;
  margin-left: 100px;
}

.bg-header{
    max-width: 450px;
}

.nav-btn{
  display: flex;
  gap: 0.5rem;
  margin-left: 25px;
}

.navbar-btn-sub{
  height: 2.7rem;
  width: 8rem;
  color: white;
  background-color: rgb(248,125,80);
  border-radius: 1.2rem;
  margin-top: 1.3rem;
  border: 1px solid white;
  font-weight: 700;
  font-size: 0.8rem;
}

.navbar-btn-log{
  height: 2.6rem;
  width: 8rem;
  color: white;
  background-color: rgb(248,125,80);
  border-radius: 1.2rem;
  margin-top: 1.3rem;
  border: none;
  font-weight: 700;
  font-size: 0.8rem;
  box-shadow: 0 0 1px #555;
}


.navbar-h1{
    margin-top: 4rem;
    margin-left: 4rem;
    font-size: 20px;
    font-weight: 700;
}

.navbar-btn-h1{
  height: 2.7rem;
  width: 8rem;
  color: white;
  background-color: rgb(248,125,80);
  border-radius: 1.2rem;
  margin-top: 1.3rem;
  border: 1px solid white;
  font-weight: 700;
  font-size: 0.8rem;
}

.div-about{
  max-width: 50%;
  height: 330px;
  display: flex;
  margin: auto;
  border-radius: 10px;
  margin-top: 2rem;
  border: none;
  box-shadow: 1px 1px 1px 1px;
}

.div-about p{
  font-size: 2rem;
}

.about-text{  
    width: 50%;
    margin: auto;
    margin-left: 2.2rem;
}

.about-fields{
  width: 50%;
  margin-top: 1.1rem;
}

.gender{
  display: flex;
  gap: 3rem;
  margin: 0 auto;
  justify-content: center;
  font-weight: bold;
}

.name{
  display: flex;
  gap: 3rem;
  margin: 0.5rem auto;
  margin-left: 1rem;
  justify-content: center;
  font-weight: bold;
}

.input-name{
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.input-fname, .input-lname{
  height: 25px;
  width: 30%;
  border-radius: 10px;
  padding-left: 20px;
  border: none;
  box-shadow: 1px 1px 1px 1px;
}

.div-nasc{
  margin-top: 10px;
  text-align: center;
}


.data-nasc{
  text-align: center;
}

.input-nasc{
  margin-top: 10px;
  border-radius: 10px;
  height: 25px;
  width: 65%;
  padding: 10px;
  padding-left: 20px;
  border: none;
  box-shadow: 1px 1px 1px 1px;
}

.label-weight-height{
  display: flex;
  gap: 5rem;
  margin: 0.5rem auto;
  margin-left: 1rem;
  justify-content: center;
  font-weight: bold;
}


.input-weight-height{
  display: flex;
  justify-content: center;
  margin-left: 2rem;
}

.weight{
  display: block;
    width: 60%;
    height: 25px;
    margin: auto;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    box-shadow: 1px 1px 1px 1px;
}

.height{
  display: block;
  height: 25px;
  width: 60%;
  border-radius: 10px;
  border: none;
  padding-left: 20px;
  box-shadow: 1px 1px 1px 1px;
}

.div-imc{
  margin-top: 10px;
  text-align: center;
}

.div-objective{
  max-width: 50%;
  height: 200px;
  display: flex;
  margin: auto;
  border-radius: 10px;
  margin-top: 2rem;
  border: none;
  box-shadow: 1px 1px 1px 1px;
}

.objective-text{
  width: 50%;
  margin: auto;
  margin-left: 2.2rem;
  font-size: 2rem;
}

.div-objective-options{
  width: 40%;
  height: 120px;
  margin: auto;
  padding: 20px;
  box-shadow: 1px 1px 1px 1px;
  border-radius: 10px;
}

.objective-options{
      margin: 10px;
}

.objective-setadireita{
  float: right;
  height: 15px;
}

.div-dieta{
  max-width: 50%;
  height: 500px;
  display: flex;
  margin: auto;
  border-radius: 10px;
  margin-top: 2rem;
  border: none;
  box-shadow: 1px 1px 1px 1px;
}

.diet-text{
  width: 50%;
  margin: auto;
  margin-left: 2.2rem;
  font-size: 2rem;
}

.diet-container-items{
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.diet-col-1{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    
}

.brocolis-div{
  width: 8rem;
  height: 5rem;   
  background-color: yellow; 
  border-radius: 10px;
}

.brocolis{
  width: 50%;
}

.diet-div-items{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.diet-input-item{
  width: 40%;
  border-radius: 10px;
  height: 25px;
  box-shadow: 1px 1px 1px 1px;
}

.div-container-refeicoes{
  max-width: 50%;
  height: 200px;
  display: flex;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  margin-top: 2rem;
  border: none;
  box-shadow: 1px 1px 1px 1px;
}

.div-refeicoes-options{
  display: flex;
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  border: none;
}

.btn-refeicoes{
  width: 80%;
  height: 25px;
  border-radius: 10px;
  margin: auto;
  border: none;
  background-color: white;
  box-shadow: 1px 1px 1px 1px;
}

.btn-refeicoes-img{
  width: 10px;
  float: right;
  margin-right: 10px;
}

.div-container-restricao{
  max-width: 50%;
  height: 400px;
  display: flex;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  margin-top: 2rem;
  border: none;
  box-shadow: 1px 1px 1px 1px;
}

.restricao-text{
  width: 50%;
  margin: auto;
  margin-left: 2.2rem;
  font-size: 2rem;
}

.restricao-container-items{
  width: 40%;
  margin: auto;
  text-align: center;
}

.restricao-text-p{
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: bold;
}

.restricao-div-input{

}

.restricao-input{
  width: 70%;
  margin-top: 1rem;
  border-radius: 10px;
  height: 30px;
  padding-left: 20px;
  padding: 10px;
  border: none;
  box-shadow: 1px 1px 1px 1px;
}

.restricao-btn{
  height: 30px;
  width: 5rem;
  background-color: rgb(248,125,80);
  color: white;
  border-radius: 1.2rem;
  border: none;
  margin: auto;
  margin-left: 5px;
}



